extends layout

block header
  script(src="javascripts/notes.js")

block content

  //made id for header, welcome message and the class error for updating
  
  h1(id="header") #{username} Account
  p(id="welcome") Welcome #{username}
  p(class="error") 

  form(action="/logout", method="post")
        button(type="submit") Logout
  
  div.notesArea
